<a href="https://colab.research.google.com/github/Patstach/DataScience/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**PANDAS**

Series - jednowymiarowa tablica, która może przechowywać różnego typu dane. Można ją rozumieć jako pojedynczą kolumne danych. Zeby stworzyć Series można się posłużyć:

*   słownikiem (dict)
*   array
*   skalarem (warotością liczbową)

DataFrame - dwuwymiarowa tablica, z kolumnami i wierszami. Można ją rozumieć jako tabele z Excela. Żeby stworzyć DataFrame można się posłużyć:

*   słownik z 1D ndarray, list, Series
*   2D numpy.ndarray
*   Innych DataFrame

In [2]:
import pandas as pd
import numpy as np

###1) Tworzenie Series

In [3]:
s1 = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])             # jeśli nie dodamy atrybutu index, indeksy zostana ponumerowane automatycznie zaczynając od 0
s1

a   -0.110837
b   -0.247740
c    0.036927
d    0.813084
e   -0.350728
dtype: float64

In [4]:
s2 = pd.Series({"b": 1, "a": 0, "c": 2})
s2

b    1
a    0
c    2
dtype: int64

In [5]:
s3 = pd.Series(5.0, index=["a", "b", "c", "d", "e"])
s3

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

2) Dostęp do warości Series

In [6]:
s1

a   -0.110837
b   -0.247740
c    0.036927
d    0.813084
e   -0.350728
dtype: float64

In [7]:
s1[0]

-0.11083719307680595

In [8]:
s1['a']

-0.11083719307680595

In [9]:
s1.get("a")                                                                     # jesli nie bedzie takiego indexu, Python nie zwróci żadnej wartości (nie wyskoczy nawet blad!)

-0.11083719307680595

In [10]:
s1.get("f", np.nan)                                                             # w Series s1 nie ma indexu 'f' dlatego program wyświetli 'np.nan'

nan

In [11]:
s1[:3]                                                                          # wyswietli wartości od 0 do 2

a   -0.110837
b   -0.247740
c    0.036927
dtype: float64

In [12]:
s1[[4,3,1,2]]                                                                   # wyświetli wartosci we wskazanej kolejności

e   -0.350728
d    0.813084
b   -0.247740
c    0.036927
dtype: float64

In [13]:
np.max(s1)                                                                      # na Series można robić działania przy uzyciu numpy

0.8130839065103553

In [14]:
s1 + s1                                                                         # na Series można robić działania przy uzyciu numpy

a   -0.221674
b   -0.495480
c    0.073855
d    1.626168
e   -0.701456
dtype: float64

In [15]:
s1 + s2                                                                         # mozna bez zastanowienia robić działania na Series, jeśli nie wszystkie indexy beda takie same w obu Series, dla tych indexów wyswietli sie nan

a   -0.110837
b    0.752260
c    2.036927
d         NaN
e         NaN
dtype: float64

In [16]:
list(s1.array)                                                                  # wynikiem jest lista, jeśli nie dodamy listy(czyli nie przekonwertujemy) dostaniemy typ pandas.array

[-0.11083719307680595,
 -0.24773997285162638,
 0.03692730237721856,
 0.8130839065103553,
 -0.35072781854678226]

In [17]:
s1.to_numpy()                                                                   # wynikiem jest array

array([-0.11083719, -0.24773997,  0.0369273 ,  0.81308391, -0.35072782])

3) Zmiana wartości Series

In [18]:
s1

a   -0.110837
b   -0.247740
c    0.036927
d    0.813084
e   -0.350728
dtype: float64

In [19]:
s1['a'] = 100
s1

a    100.000000
b     -0.247740
c      0.036927
d      0.813084
e     -0.350728
dtype: float64

In [20]:
s1[1] = 100
s1

a    100.000000
b    100.000000
c      0.036927
d      0.813084
e     -0.350728
dtype: float64

In [21]:
s1.get("a")

100.0

In [22]:
s1.name = 'Patryk'

In [23]:
s1

a    100.000000
b    100.000000
c      0.036927
d      0.813084
e     -0.350728
Name: Patryk, dtype: float64

In [24]:
s1.index.name = 'Stach'

In [25]:
s1

Stach
a    100.000000
b    100.000000
c      0.036927
d      0.813084
e     -0.350728
Name: Patryk, dtype: float64

4) Atrybuty

Ustawienie nazwy Series

In [26]:
s1.name = 'Patryk'
s1

Stach
a    100.000000
b    100.000000
c      0.036927
d      0.813084
e     -0.350728
Name: Patryk, dtype: float64

In [27]:
s1.name

'Patryk'

Ustawienie nazwy indexów Series

In [28]:
s1.index.name = 'Stach'
s1

Stach
a    100.000000
b    100.000000
c      0.036927
d      0.813084
e     -0.350728
Name: Patryk, dtype: float64

In [29]:
s1.index.name

'Stach'

Zmiana nazwy Series

In [30]:
s1.rename('Stach2')

Stach
a    100.000000
b    100.000000
c      0.036927
d      0.813084
e     -0.350728
Name: Stach2, dtype: float64

In [31]:
s1.name

'Patryk'

Sprawdzenie typu

In [32]:
s1.dtype

dtype('float64')

###1) Tworzenie DataFrame

Ze słownika z listami

In [33]:
df1 = pd.DataFrame({'one': [1,2,3,4],'two' : [5,6,7,8]}, index = ['a','b','c','d'])
df1

   one  two
a    1    5
b    2    6
c    3    7
d    4    8

Z listy ze słownikami

In [34]:
df2 = pd.DataFrame([{'a' : 1, 'b' : 2},{'a' : 3,'b' : 4, 'c' : 5}])
df2

   a  b    c
0  1  2  NaN
1  3  4  5.0

In [35]:
df2 = pd.DataFrame([{'a' : 1, 'b' : 2},{'a' : 3,'b' : 4, 'c' : 5}], index = ['first', 'second'], columns = ['a', 'b'])
df2                                                                             # jeśli wczesniej podamy kolumne 'c', a potem w parametrze podamy tylko 'a' i 'b', kolumna 'c' sie nie wyswietli

        a  b
first   1  2
second  3  4

In [36]:
df2

        a  b
first   1  2
second  3  4

Z Series

In [37]:
ser = pd.Series(range(3), index=list('abc'), name ='ser')
ser

a    0
b    1
c    2
Name: ser, dtype: int64

In [38]:
df3 = pd.DataFrame(ser)
df3

   ser
a    0
b    1
c    2

lub

In [39]:
df4 = ser.to_frame()
df4

   ser
a    0
b    1
c    2

2) Wybór kolumn

In [40]:
df1

   one  two
a    1    5
b    2    6
c    3    7
d    4    8

In [41]:
df1['one']

a    1
b    2
c    3
d    4
Name: one, dtype: int64

In [42]:
df1.one

a    1
b    2
c    3
d    4
Name: one, dtype: int64

3) Działania na kolumanch

In [43]:
df1

   one  two
a    1    5
b    2    6
c    3    7
d    4    8

In [44]:
df1['new'] = df1['one'] + df1['two']                                            # analogicznie pozostałe działania
df1

   one  two  new
a    1    5    6
b    2    6    8
c    3    7   10
d    4    8   12

In [45]:
df1['three'] = df1['one'] * df1['two']                                            # analogicznie pozostałe działania
df1

   one  two  new  three
a    1    5    6      5
b    2    6    8     12
c    3    7   10     21
d    4    8   12     32

In [46]:
df1['bool'] = df1['one'] > 2
df1

   one  two  new  three   bool
a    1    5    6      5  False
b    2    6    8     12  False
c    3    7   10     21   True
d    4    8   12     32   True

4) Usuwanie kolumn

In [47]:
del df1['new']
df1

   one  two  three   bool
a    1    5      5  False
b    2    6     12  False
c    3    7     21   True
d    4    8     32   True

5) Dodawanie kolumn

In [48]:
df1['four'] = 100
df1

   one  two  three   bool  four
a    1    5      5  False   100
b    2    6     12  False   100
c    3    7     21   True   100
d    4    8     32   True   100

In [49]:
df1['five'] = 'bar'
df1

   one  two  three   bool  four five
a    1    5      5  False   100  bar
b    2    6     12  False   100  bar
c    3    7     21   True   100  bar
d    4    8     32   True   100  bar

Dodawanie w konkretne miejsce

In [50]:
df1.insert(1,'oneone', 100)
df1

   one  oneone  two  three   bool  four five
a    1     100    5      5  False   100  bar
b    2     100    6     12  False   100  bar
c    3     100    7     21   True   100  bar
d    4     100    8     32   True   100  bar

In [51]:
df1.insert(1,'oneone2', df1['one'])
df1

   one  oneone2  oneone  two  three   bool  four five
a    1        1     100    5      5  False   100  bar
b    2        2     100    6     12  False   100  bar
c    3        3     100    7     21   True   100  bar
d    4        4     100    8     32   True   100  bar

In [52]:
df1 = df1.assign(new = 3)
df1

   one  oneone2  oneone  two  three   bool  four five  new
a    1        1     100    5      5  False   100  bar    3
b    2        2     100    6     12  False   100  bar    3
c    3        3     100    7     21   True   100  bar    3
d    4        4     100    8     32   True   100  bar    3

In [53]:
df1 = df1.assign(new = lambda x: x['oneone']/x['oneone2'])
df1

   one  oneone2  oneone  two  three   bool  four five         new
a    1        1     100    5      5  False   100  bar  100.000000
b    2        2     100    6     12  False   100  bar   50.000000
c    3        3     100    7     21   True   100  bar   33.333333
d    4        4     100    8     32   True   100  bar   25.000000

6) Wybór wierszy po labelu

In [54]:
df1

   one  oneone2  oneone  two  three   bool  four five         new
a    1        1     100    5      5  False   100  bar  100.000000
b    2        2     100    6     12  False   100  bar   50.000000
c    3        3     100    7     21   True   100  bar   33.333333
d    4        4     100    8     32   True   100  bar   25.000000

In [55]:
df1.loc['a']                                                                    # return to Series

one            1
oneone2        1
oneone       100
two            5
three          5
bool       False
four         100
five         bar
new        100.0
Name: a, dtype: object

7) Wybór wierszy po lokalizacji

In [56]:
df1

   one  oneone2  oneone  two  three   bool  four five         new
a    1        1     100    5      5  False   100  bar  100.000000
b    2        2     100    6     12  False   100  bar   50.000000
c    3        3     100    7     21   True   100  bar   33.333333
d    4        4     100    8     32   True   100  bar   25.000000

In [57]:
df1.iloc[2]

one                3
oneone2            3
oneone           100
two                7
three             21
bool            True
four             100
five             bar
new        33.333333
Name: c, dtype: object

8) Transponowanie DataFrame

In [58]:
df1

   one  oneone2  oneone  two  three   bool  four five         new
a    1        1     100    5      5  False   100  bar  100.000000
b    2        2     100    6     12  False   100  bar   50.000000
c    3        3     100    7     21   True   100  bar   33.333333
d    4        4     100    8     32   True   100  bar   25.000000

In [59]:
df1.T

             a      b          c     d
one          1      2          3     4
oneone2      1      2          3     4
oneone     100    100        100   100
two          5      6          7     8
three        5     12         21    32
bool     False  False       True  True
four       100    100        100   100
five       bar    bar        bar   bar
new      100.0   50.0  33.333333  25.0

9) Informacje o DataFrame

In [60]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, a to d
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   one      4 non-null      int64
 1   oneone2  4 non-null      int64
 2   oneone   4 non-null      int64
 3   two      4 non-null      int64
 4   three    4 non-null      int64
 5   bool     4 non-null      bool
 6   four     4 non-null      int64
 7   five     4 non-null      object
 8   new      4 non-null      float64
dtypes: bool(1), float64(1), int64(6), object(1)
memory usage: 464.0+ bytes

10) Główne funkcje Pandas

Wciąganie indexow do kolumn

In [61]:
df1

   one  oneone2  oneone  two  three   bool  four five         new
a    1        1     100    5      5  False   100  bar  100.000000
b    2        2     100    6     12  False   100  bar   50.000000
c    3        3     100    7     21   True   100  bar   33.333333
d    4        4     100    8     32   True   100  bar   25.000000

In [62]:
df1.reset_index()

  index  one  oneone2  oneone  two  three   bool  four five         new
0     a    1        1     100    5      5  False   100  bar  100.000000
1     b    2        2     100    6     12  False   100  bar   50.000000
2     c    3        3     100    7     21   True   100  bar   33.333333
3     d    4        4     100    8     32   True   100  bar   25.000000

Wspolne wartości w 2 Series

In [63]:
ser1 = pd.Series([1,3,5,7,9])
ser2 = pd.Series([3,5,7,8])

In [64]:
ser1[ser1.isin(ser2)]

1    3
2    5
3    7
dtype: int64

Unikalne wartości w 2 Series

In [65]:
ser1 = pd.Series([1,3,5,7,9])
ser2 = pd.Series([3,5,7,8])

In [66]:
ser1[~ser1.isin(ser2)]

0    1
4    9
dtype: int64

Zliczanie takich samych wartosci

In [67]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [68]:
ser.value_counts()

f    8
g    6
h    6
d    3
c    3
a    2
b    1
e    1
dtype: int64

Wyswietlenie indexow Series

In [69]:
ser.head()

0    f
1    f
2    f
3    f
4    d
dtype: object

In [70]:
ser.index

RangeIndex(start=0, stop=30, step=1)

Wyswietlenie wartości Series

In [71]:
ser.values

array(['f', 'f', 'f', 'f', 'd', 'g', 'c', 'b', 'g', 'f', 'h', 'g', 'g',
       'g', 'f', 'h', 'd', 'f', 'c', 'h', 'h', 'd', 'a', 'h', 'g', 'a',
       'h', 'c', 'e', 'f'], dtype=object)

Kształt Series

In [72]:
ser.shape

(30,)

Liczba wymiarów Series (z definicji 1)

In [73]:
ser.ndim

1

Rozmiar Series

In [74]:
ser.size

30

Sprawdzenie czy sa wartosci NaN

In [75]:
ser1 = pd.Series([1,2,np.nan, 5, np.nan])
ser1

0    1.0
1    2.0
2    NaN
3    5.0
4    NaN
dtype: float64

In [76]:
ser1.hasnans

True

Sprawdzenie czy Series jest pusty

In [77]:
ser1.empty

False

Zamiana typu wartości Series

In [78]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(data=d)
df.dtypes

col1    int64
col2    int64
dtype: object

In [79]:
df1 = df.astype('int32')

In [80]:
df1.dtypes

col1    int32
col2    int32
dtype: object

Kopiowanie Series

In [81]:
s2 = ser1.copy()
s2

0    1.0
1    2.0
2    NaN
3    5.0
4    NaN
dtype: float64

Zamiana Series na liste

In [82]:
ser1.to_list()

[1.0, 2.0, nan, 5.0, nan]

Wyswietlanie odpoweiednich kolumn/wartosci

In [83]:
df = pd.DataFrame(
    [
        [24.3, 75.7, "high"],
        [31, 87.8, "high"],
        [22, 71.6, "medium"],
        [35, 95, "medium"],
    ],
    columns=["temp_celsius", "temp_fahrenheit", "windspeed"],index=pd.date_range(start="2014-02-12", end="2014-02-15", freq="D"),)

In [84]:
df

            temp_celsius  temp_fahrenheit windspeed
2014-02-12          24.3             75.7      high
2014-02-13          31.0             87.8      high
2014-02-14          22.0             71.6    medium
2014-02-15          35.0             95.0    medium

In [85]:
df_new = df.get('temp_celsius')
df_new

2014-02-12    24.3
2014-02-13    31.0
2014-02-14    22.0
2014-02-15    35.0
Freq: D, Name: temp_celsius, dtype: float64

In [86]:
df_new.get('2014-02-14')

22.0

In [87]:
df_new.get('2014-02-10', default= 'zle')                                        # jesli nie bedie danego argumentu wyswietli napis

'zle'

Wyswietlenie konkretnej wartosci na podstawie nazw indexow i kolumn

In [88]:
df = pd.DataFrame([[0, 2, 3], [0, 4, 1], [10, 20, 30]],
                  index=[4, 5, 6], columns=['A', 'B', 'C'])
df

    A   B   C
4   0   2   3
5   0   4   1
6  10  20  30

In [89]:
df.at[6, 'B']                                                                   # działa podobnie do loc

20

In [90]:
df.at[6, 'B'] = 100                                                             # mozna w ten sposób rowniez nadpisywac konkretna pozycje
df

    A    B   C
4   0    2   3
5   0    4   1
6  10  100  30

Wyswietlenie konkretnej wartosci na podstawie pozycji

In [91]:
df

    A    B   C
4   0    2   3
5   0    4   1
6  10  100  30

In [92]:
df.iat[1,1]

4

Iteracja Series

In [93]:
ser1

0    1.0
1    2.0
2    NaN
3    5.0
4    NaN
dtype: float64

In [94]:
for index, value in ser1.items():
  print(f'Index: {index} , Value: {value}')

Index: 0 , Value: 1.0
Index: 1 , Value: 2.0
Index: 2 , Value: nan
Index: 3 , Value: 5.0
Index: 4 , Value: nan

Usuwanie wartości z Series

In [95]:
ser1

0    1.0
1    2.0
2    NaN
3    5.0
4    NaN
dtype: float64

In [96]:
ser1.pop(2)                                                                     # po tej funkcji nie ma ciaglosci indexow
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

Dodwanaie Series

In [97]:
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

In [98]:
ser2

0    3
1    5
2    7
3    8
dtype: int64

In [99]:
ser1.add(ser2)

0     4.0
1     7.0
2     NaN
3    13.0
4     NaN
dtype: float64

In [100]:
ser1.add(ser2, fill_value=3)                                                    # fill_value jesli dodaje skalar i wartosc NaN to za wartosc Nan przyjmuje to co podamy w argumencie fill_value

0     4.0
1     7.0
2    10.0
3    13.0
4     NaN
dtype: float64

Odejmowanie Series

In [101]:
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

In [102]:
ser2

0    3
1    5
2    7
3    8
dtype: int64

In [103]:
ser1.sub(ser2)

0   -2.0
1   -3.0
2    NaN
3   -3.0
4    NaN
dtype: float64

In [104]:
ser1.sub(ser2, fill_value=3)                                                    # fill_value jesli odejmuje skalar i wartosc NaN to za wartosc Nan przyjmuje to co podamy w argumencie fill_value

0   -2.0
1   -3.0
2   -4.0
3   -3.0
4    NaN
dtype: float64

Analogicznie dla mnożenia, dzielenia, potegi

In [105]:
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

In [106]:
ser2

0    3
1    5
2    7
3    8
dtype: int64

In [107]:
ser1.mul(ser2, fill_value=1)

0     3.0
1    10.0
2     7.0
3    40.0
4     NaN
dtype: float64

In [108]:
ser1.div(ser2, fill_value=1)

0    0.333333
1    0.400000
2    0.142857
3    0.625000
4         NaN
dtype: float64

In [109]:
ser1.pow(ser2, fill_value=1)

0         1.0
1        32.0
2         1.0
3    390625.0
4         NaN
dtype: float64

Porównywanie i wybór najwiekszych, najmniejszych lub innych sposród funkcji wartosci dla 2 Series

In [110]:
s1 = pd.Series({'falcon': 330.0, 'eagle': 160.0})
s1

falcon    330.0
eagle     160.0
dtype: float64

In [111]:
s2 = pd.Series({'falcon': 345.0, 'eagle': 200.0, 'duck': 30.0})
s2

falcon    345.0
eagle     200.0
duck       30.0
dtype: float64

In [112]:
s1.combine(s2, min)

duck        NaN
eagle     160.0
falcon    330.0
dtype: float64

In [113]:
s1.combine(s2, max, fill_value=0)                                               # można również uzyc fill_value która przyjmie dla wartości NaN zadana wartosc

duck       30.0
eagle     200.0
falcon    345.0
dtype: float64

Zaokrąglanie wartości

In [114]:
ser_new = pd.Series([1.233234, 143.3234,23423.32442,2.43542])
ser_new

0        1.233234
1      143.323400
2    23423.324420
3        2.435420
dtype: float64

In [115]:
ser_new.round(3)                                                                # podajemy ile chcemy miejsc po przecinku

0        1.233
1      143.323
2    23423.324
3        2.435
dtype: float64

Porównywanie wartości w 2 Series

In [116]:
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

In [117]:
ser2

0    3
1    5
2    7
3    8
dtype: int64

In [118]:
ser1.lt(ser2)                                                                   # jesli w Series ser1 sa mniejsze wartosci to wyswietli sie True, w przecwinym wypadku False

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [119]:
ser1.gt(ser2)                                                                   # w ser1 wieksze niz w ser2

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [120]:
ser1.le(ser2)                                                                   # w ser1 mniejsze i rowne niz w ser2

0     True
1     True
2    False
3     True
4    False
dtype: bool

In [121]:
ser1.ge(ser2)                                                                   # w pierwszym wieksze i rowne

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [122]:
ser1.ne(ser2)                                                                   # w ser1 nierówne jak w ser2

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [123]:
ser1.eq(ser2, fill_value=0)                                                     # w ser1 rowne co w ser2, mozna dodac fill_value ktory zamieni NaN na odpowiednia wartosc

0    False
1    False
2    False
3    False
4    False
dtype: bool

Do wykonywania funkcji na Series

In [124]:
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

In [125]:
ser1.apply(lambda x: x**2)

0     1.0
1     4.0
3    25.0
4     NaN
dtype: float64

Wyswietlanie kilku parametrów dotyczacych Series za pomoca jednej linijki kodu

In [126]:
ser1

0    1.0
1    2.0
3    5.0
4    NaN
dtype: float64

In [127]:
ser1.agg(['min', 'max', 'mean', 'median'])

min       1.000000
max       5.000000
mean      2.666667
median    2.000000
dtype: float64

Wartości bezwgledne

In [128]:
ser1 = pd.Series([1,-4.34,4,-9,0])
ser1

0    1.00
1   -4.34
2    4.00
3   -9.00
4    0.00
dtype: float64

In [129]:
ser1.abs()

0    1.00
1    4.34
2    4.00
3    9.00
4    0.00
dtype: float64

Wyswietla True/False sprawdzajac czy wszystkie wartosci w kolumnie/Series sa True

In [130]:
df = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})
df

   col1   col2
0  True   True
1  True  False

In [131]:
df.all()                                                                        # jesli w kolumnie sa wszystkie True, to wynik bedzie True, jesli przynajmniej jeden bedzie False, wynik bedzie False

col1     True
col2    False
dtype: bool

In [132]:
df.any()                                                                        # jesli w kolumnie przynajmniej jeden elem. True, to wynik bedzie True, jesli nie to False

col1    True
col2    True
dtype: bool

Sprawdzajacy czy warunki mieszcza sie w zadanym przedziale

In [133]:
s = pd.Series([2, 0, 4, 8, np.nan])
s

0    2.0
1    0.0
2    4.0
3    8.0
4    NaN
dtype: float64

In [134]:
s.between(1,4)                                                                  # przedział zamkniety <1,4>

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [135]:
s.between(1,4, inclusive = 'neither')                                           # przedział otwarty(1,4) bo argument 'neither'

0     True
1    False
2    False
3    False
4    False
dtype: bool

Modyfikacja wartosci w kolumnach, jesli wypadaja z przedzialu przypiswywane sa wartosci graniczne przedziału

In [136]:
data = {'col_0': [9, -3, 0, -1, 5], 'col_1': [-2, -7, 6, 8, -5]}
df = pd.DataFrame(data)
df

   col_0  col_1
0      9     -2
1     -3     -7
2      0      6
3     -1      8
4      5     -5

In [137]:
df.clip(-4,6)                                                                   # np w wartosc (0,0) = 9 czyli nie miesci sie w przedziale i nastepuje zmiana na 6

   col_0  col_1
0      6     -2
1     -3     -4
2      0      6
3     -1      6
4      5     -4

ilość wartości poza NaN

In [138]:
s = pd.Series([0.0, 1.0, np.nan])
s

0    0.0
1    1.0
2    NaN
dtype: float64

In [139]:
s.count()

2

Kowariancja 2 Series

In [140]:
s1 = pd.Series([0.90010907, 0.13484424, 0.62036035])
s2 = pd.Series([0.12528585, 0.26962463, 0.51111198])

In [141]:
s1.cov(s2)

-0.01685762652715874

Statystyki podanego Series

In [142]:
ser1

0    1.00
1   -4.34
2    4.00
3   -9.00
4    0.00
dtype: float64

In [143]:
ser1.describe()

count    5.000000
mean    -1.668000
std      5.072585
min     -9.000000
25%     -4.340000
50%      0.000000
75%      1.000000
max      4.000000
dtype: float64

Sprawdzenie po kolei wartosci Series i pozostawienie wartosci jesli jest wieksza od poprzedniej

In [144]:
ser1

0    1.00
1   -4.34
2    4.00
3   -9.00
4    0.00
dtype: float64

In [145]:
ser1.cummax()

0    1.0
1    1.0
2    4.0
3    4.0
4    4.0
dtype: float64

Sprawdzenie po kolei wartosci Series i pozostawienie wartosci jesli jest mniejsza od poprzedniej

In [146]:
ser1

0    1.00
1   -4.34
2    4.00
3   -9.00
4    0.00
dtype: float64

In [147]:
ser1.cummin()

0    1.00
1   -4.34
2   -4.34
3   -9.00
4   -9.00
dtype: float64

Utworzenie faktorów dla wartości Series

In [148]:
codes, uniques = pd.factorize(['b', 'b', 'a', 'c', 'b'])
codes

array([0, 0, 1, 2, 0])

In [149]:
uniques

array(['b', 'a', 'c'], dtype=object)

Sprawdzenie jakie wartości są najczesciej w Sereis

In [150]:
pd.Series([2, 1, 1, 3, 3]).mode()

0    1
1    3
dtype: int64

Wyswietlenie najwiekszych/najmniejszych wartości posortowanych

In [151]:
countries_population = {"Italy": 59000000, "France": 65000000,
                        "Malta": 434000, "Maldives": 434000,
                        "Brunei": 434000, "Iceland": 337000,
                        "Nauru": 11300, "Tuvalu": 11300,
                        "Anguilla": 11300, "Montserrat": 5200}
s = pd.Series(countries_population)
s

Italy         59000000
France        65000000
Malta           434000
Maldives        434000
Brunei          434000
Iceland         337000
Nauru            11300
Tuvalu           11300
Anguilla         11300
Montserrat        5200
dtype: int64

In [152]:
s.nlargest(5, keep='all')                                                       # keep = 'all' poda wszystkie elementy z taka sama wartoscia, jest jeszcze 'first'(domyslne), 'last'

France      65000000
Italy       59000000
Malta         434000
Maldives      434000
Brunei        434000
dtype: int64

In [153]:
s.nsmallest()

Montserrat      5200
Nauru          11300
Tuvalu         11300
Anguilla       11300
Iceland       337000
dtype: int64

Odchylenie standardowe dla kolumn

In [154]:
df = pd.DataFrame({'person_id': [0, 1, 2, 3],
                   'age': [21, 25, 62, 43],
                   'height': [1.61, 1.87, 1.49, 2.01]}
                  ).set_index('person_id')
df

           age  height
person_id
0           21    1.61
1           25    1.87
2           62    1.49
3           43    2.01

In [155]:
df.std()

age       18.786076
height     0.237417
dtype: float64

Zmiana procentowa wartosci w porównaniu do wartości z poprzedniego wiersza

In [156]:
df

           age  height
person_id
0           21    1.61
1           25    1.87
2           62    1.49
3           43    2.01

In [157]:
df.pct_change()

                age    height
person_id
0               NaN       NaN
1          0.190476  0.161491
2          1.480000 -0.203209
3         -0.306452  0.348993

Suma wartości w kolumnach/wierszach

In [158]:
df

           age  height
person_id
0           21    1.61
1           25    1.87
2           62    1.49
3           43    2.01

In [159]:
df.sum(axis=0)                                                                  # axis = 0 po kolumnach (domyslnie), axis=1 po wierszach

age       151.00
height      6.98
dtype: float64

Wariancja dla kolumn

In [160]:
df

           age  height
person_id
0           21    1.61
1           25    1.87
2           62    1.49
3           43    2.01

In [161]:
df.var()

age       352.916667
height      0.056367
dtype: float64

Wartości unikalne i i ilość wartości unikalnych

In [162]:
ser1 = pd.Series([1,2,3,3,4,3,6], name ='ser', index=['a','b','c','d','e','f','g'])
ser1

a    1
b    2
c    3
d    3
e    4
f    3
g    6
Name: ser, dtype: int64

In [163]:
ser1.unique()

array([1, 2, 3, 4, 6])

In [164]:
ser1.nunique()

5

In [165]:
ser1.is_unique

False

Ilość kazdej liczby unikalnej oraz wartość procentowa

In [166]:
pd.value_counts(ser1)

3    3
1    1
2    1
4    1
6    1
Name: ser, dtype: int64

In [167]:
pd.value_counts(ser1, normalize=True)

3    0.428571
1    0.142857
2    0.142857
4    0.142857
6    0.142857
Name: ser, dtype: float64

Dodawanie kolumn

In [168]:
df1

   col1  col2
0     1     3
1     2     4

In [169]:
df2

        a  b
first   1  2
second  3  4

In [170]:
left, right = df1.align(df2, join = 'outer', axis = 0)
left

        col1  col2
0        1.0   3.0
1        2.0   4.0
first    NaN   NaN
second   NaN   NaN

In [171]:
right

          a    b
0       NaN  NaN
1       NaN  NaN
first   1.0  2.0
second  3.0  4.0

In [172]:
left, right = df1.align(df2, join = 'outer', axis = 1)
left

    a   b  col1  col2
0 NaN NaN     1     3
1 NaN NaN     2     4

In [173]:
right

        a  b  col1  col2
first   1  2   NaN   NaN
second  3  4   NaN   NaN

Usuwanie duplikatów i sprawdzenie które wartości maja duplikaty

In [174]:
animals = pd.Series(['lama', 'cow', 'lama', 'beetle', 'lama'])
animals

0      lama
1       cow
2      lama
3    beetle
4      lama
dtype: object

In [175]:
animals.drop_duplicates(keep='first')                                            # keep='first', keep='last', keep=False - usuwa wszystkie

0      lama
1       cow
3    beetle
dtype: object

In [176]:
animals.drop_duplicates(keep=False)

1       cow
3    beetle
dtype: object

In [177]:
animals.duplicated()                                                            # sprawdzanie ktore wartosci maja duplikaty

0    False
1    False
2     True
3    False
4     True
dtype: bool

Wysortowanie pierwszych/ostatnich dni kalendarzowych

In [178]:
i = pd.date_range('2018-04-09', periods=4, freq='2D')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [179]:
ts.first('5D')                                                                  # Wyswietlenie informacji dla 5 dni KALENDARZOWYCH (!)

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3

In [180]:
ts.last('2D')                                                                   # Wyswietlenie informacji dla 2 dni KALENDARZOWYCH (!)

            A
2018-04-15  4

Wyświetlenie pierwszych wierszy

In [181]:
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [182]:
ts.head(2)                                                                      # wyświetlenie 2 pierwszych wierszy

            A
2018-04-09  1
2018-04-11  2

Wyswietlenie wiersza z najwieksza i najmniejsza wartościa

In [183]:
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [184]:
ts.idxmax()

A   2018-04-15
dtype: datetime64[ns]

In [185]:
ts.idxmin()

A   2018-04-09
dtype: datetime64[ns]

Czy wskazany element znajduje sie w Series

In [186]:
animals

0      lama
1       cow
2      lama
3    beetle
4      lama
dtype: object

In [187]:
animals.isin(['lama','cow'])                                                    # zaprzeczenie ~animals.isin(['lama','cow'])

0     True
1     True
2     True
3    False
4     True
dtype: bool

Zmiana kolejności indexów, dodanie nowych indeksów

In [188]:
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [189]:
new_index = pd.date_range('2018-04-09', periods=8, freq='1D')
new_index

DatetimeIndex(['2018-04-09', '2018-04-10', '2018-04-11', '2018-04-12',
               '2018-04-13', '2018-04-14', '2018-04-15', '2018-04-16'],
              dtype='datetime64[ns]', freq='D')

In [190]:
ts.reindex(new_index)

              A
2018-04-09  1.0
2018-04-10  NaN
2018-04-11  2.0
2018-04-12  NaN
2018-04-13  3.0
2018-04-14  NaN
2018-04-15  4.0
2018-04-16  NaN

Przykladowe wiersze

In [191]:
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [192]:
ts.sample(1)

            A
2018-04-13  3

Ustawienie nowych indexów

In [193]:
ts

            A
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [194]:
ts.set_axis(['a'], axis=1)                                                      # dla kolumn

            a
2018-04-09  1
2018-04-11  2
2018-04-13  3
2018-04-15  4

In [195]:
ts.set_axis(['a','b','c','d'], axis=0)                                          # dla wierszy

   A
a  1
b  2
c  3
d  4

Wyswietlanie wskazanych wierszy/kolumn

In [196]:
df = pd.DataFrame([('falcon', 'bird', 389.0),
                   ('parrot', 'bird', 24.0),
                   ('lion', 'mammal', 80.5),
                   ('monkey', 'mammal', np.nan)],
                  columns=['name', 'class', 'max_speed'],
                  index=[0, 2, 3, 1])
df

     name   class  max_speed
0  falcon    bird      389.0
2  parrot    bird       24.0
3    lion  mammal       80.5
1  monkey  mammal        NaN

In [197]:
df.take([1,0], axis = 0)                                                        # axis = 0 dla wierszy

     name class  max_speed
2  parrot  bird       24.0
0  falcon  bird      389.0

In [198]:
df.take([1,0], axis = 1)                                                        # axis = 1 dla kolumn

    class    name
0    bird  falcon
2    bird  parrot
3  mammal    lion
1  mammal  monkey

Wyświetlenie ostatnich wierszy

In [199]:
df

     name   class  max_speed
0  falcon    bird      389.0
2  parrot    bird       24.0
3    lion  mammal       80.5
1  monkey  mammal        NaN

In [200]:
df.tail(2)

     name   class  max_speed
3    lion  mammal       80.5
1  monkey  mammal        NaN

Wyświetlanie wybranych zestawów wierszy i kolumn

In [201]:
df = pd.DataFrame({'A': ['a', 'b', 'c', 'd', 'e'],
                   'B': ['f', 'g', 'h', 'i', 'j'],
                   'C': ['k', 'l', 'm', 'n', 'o']},
                  index=[1, 2, 3, 4, 5])
df

   A  B  C
1  a  f  k
2  b  g  l
3  c  h  m
4  d  i  n
5  e  j  o

In [202]:
df.truncate(before=2, after=4, axis=0)

   A  B  C
2  b  g  l
3  c  h  m
4  d  i  n

In [203]:
df.truncate(before='A', after='B', axis=1)

   A  B
1  a  f
2  b  g
3  c  h
4  d  i
5  e  j

Wyświetlenie wartosci spelniajacych warunek

In [204]:
s = pd.Series(range(5))
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [205]:
s.where(s>2)

0    NaN
1    NaN
2    NaN
3    3.0
4    4.0
dtype: float64

Dodawanie prefixów i sufixów

In [206]:
df = pd.DataFrame({'A': [1, 2, 3, 4], 'B': [3, 4, 5, 6]})
df

   A  B
0  1  3
1  2  4
2  3  5
3  4  6

In [207]:
df.add_prefix('item_')

   item_A  item_B
0       1       3
1       2       4
2       3       5
3       4       6

In [208]:
df.add_suffix('_item')

   A_item  B_item
0       1       3
1       2       4
2       3       5
3       4       6

Filtrowanie kolumn/wierszy

In [209]:
df = pd.DataFrame(np.array(([1, 2, 3], [4, 5, 6])),
                  index=['mouse', 'rabbit'],
                  columns=['one', 'two', 'three'])
df

        one  two  three
mouse     1    2      3
rabbit    4    5      6

In [210]:
df.filter(['one','three'], axis=1)                                              # dla kolumn

        one  three
mouse     1      3
rabbit    4      6

In [211]:
df.filter(['rabbit'], axis=0)                                                   # dla wierszy

        one  two  three
rabbit    4    5      6

Usuwanie wartosci NaN

In [212]:
ser = pd.Series([np.NaN, 2, pd.NaT, '', None, 'I stay'])
ser

0       NaN
1         2
2       NaT
3
4      None
5    I stay
dtype: object

In [213]:
ser.dropna()

1         2
3
5    I stay
dtype: object

Nadpisywanie wartości NaN

In [214]:
ser

0       NaN
1         2
2       NaT
3
4      None
5    I stay
dtype: object

In [215]:
ser.fillna(1000)

0      1000
1         2
2      1000
3
4      1000
5    I stay
dtype: object

Sprawdzenie czy tabela posiada wartości NaN

In [216]:
ser = pd.Series([5, 6, np.NaN])
ser

0    5.0
1    6.0
2    NaN
dtype: float64

In [217]:
ser.isna()

0    False
1    False
2     True
dtype: bool

Sprawdzenie czy wartość nie jest NaN

In [218]:
ser.notna()

0     True
1     True
2    False
dtype: bool

Zamiana wartości w tabeli

In [219]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 2, 8, 1],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  0  5  a
1  1  6  b
2  2  2  c
3  3  8  d
4  4  1  e

In [220]:
df.replace(2, 100)                                                              # zamienia wartość 2 na 100

     A    B  C
0    0    5  a
1    1    6  b
2  100  100  c
3    3    8  d
4    4    1  e

In [221]:
df.replace([2,1], [200,100])                                                    # zamienia wartość 2 na 200 i 1 na 100

     A    B  C
0    0    5  a
1  100    6  b
2  200  200  c
3    3    8  d
4    4  100  e

Indexy ktore posortuja wartości

In [222]:
ser = pd.Series([2,3,1,4,2,6,4,9])
ser

0    2
1    3
2    1
3    4
4    2
5    6
6    4
7    9
dtype: int64

In [223]:
ser.argsort()

0    2
1    0
2    4
3    1
4    3
5    6
6    5
7    7
dtype: int64

In [224]:
ser[ser.argsort()]

2    1
0    2
4    2
1    3
3    4
6    4
5    6
7    9
dtype: int64

Położenie minimalnej i największej wartości

In [225]:
ser

0    2
1    3
2    1
3    4
4    2
5    6
6    4
7    9
dtype: int64

In [226]:
ser.argmin()

2

In [227]:
ser.argmax()

7

Sortowanie

In [228]:
s = pd.Series([np.nan, 1, 3, 10, 5])
s

0     NaN
1     1.0
2     3.0
3    10.0
4     5.0
dtype: float64

In [229]:
s.sort_values(ascending=True, na_position='first')                              #rosnąco, wartość NaN na początek

0     NaN
1     1.0
2     3.0
4     5.0
3    10.0
dtype: float64

Sortowanie indexow

In [230]:
s = pd.Series(['a', 'b', 'c', 'd'], index=[3, 2, 1, 4])
s

3    a
2    b
1    c
4    d
dtype: object

In [231]:
s.sort_index(ascending=True)

1    c
2    b
3    a
4    d
dtype: object

Rozbicie wartości

In [232]:
s = pd.Series([[1, 2, 3], 'foo', [], [3, 4]])
s

0    [1, 2, 3]
1          foo
2           []
3       [3, 4]
dtype: object

In [233]:
s.explode()

0      1
0      2
0      3
1    foo
2    NaN
3      3
3      4
dtype: object

Powtórzenie elementu tabeli

In [234]:
ser

0    2
1    3
2    1
3    4
4    2
5    6
6    4
7    9
dtype: int64

In [235]:
ser.repeat(2)                                                                   # powtórzenie razy 2

0    2
0    2
1    3
1    3
2    1
2    1
3    4
3    4
4    2
4    2
5    6
5    6
6    4
6    4
7    9
7    9
dtype: int64

Porównywanie 2 tablic

In [236]:
s1 = pd.Series(["a", "b", "c", "d", "e"])
s2 = pd.Series(["a", "a", "c", "b", "e"])

In [237]:
s1.compare(s2)                                                                  # wyswietla roznice

  self other
1    b     a
3    d     b

Aktualizacja tablicy

In [238]:
s = pd.Series(['a', 'b', 'c'])
s

0    a
1    b
2    c
dtype: object

In [239]:
s.update(pd.Series(['d', 'e'], index=[0, 2]))                                   # nie mozna zaktualizowac na wartosc np.nan, wtedy zostaje wczesniejsza wartosc
s

0    d
1    b
2    e
dtype: object

Wartości o określonej godzinie

In [240]:
i = pd.date_range('2018-04-09', periods=4, freq='12H')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

                     A
2018-04-09 00:00:00  1
2018-04-09 12:00:00  2
2018-04-10 00:00:00  3
2018-04-10 12:00:00  4

In [241]:
ts.at_time('12:00')

                     A
2018-04-09 12:00:00  2
2018-04-10 12:00:00  4

Wartości w określonym przedziale godzin

In [242]:
i = pd.date_range('2018-04-09', periods=4, freq='1D20min')
ts = pd.DataFrame({'A': [1, 2, 3, 4]}, index=i)
ts

                     A
2018-04-09 00:00:00  1
2018-04-10 00:20:00  2
2018-04-11 00:40:00  3
2018-04-12 01:00:00  4

In [243]:
ts.between_time('00:15','00:45')

                     A
2018-04-10 00:20:00  2
2018-04-11 00:40:00  3

Konwertowanie ts do określonej czestotliwości czasu

In [244]:
index = pd.date_range('1/1/2000', periods=4, freq='T')
series = pd.Series([0.0, None, 2.0, 3.0], index=index)
df = pd.DataFrame({'s': series})
df

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:01:00  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:03:00  3.0

In [245]:
df.asfreq('10S')

                       s
2000-01-01 00:00:00  0.0
2000-01-01 00:00:10  NaN
2000-01-01 00:00:20  NaN
2000-01-01 00:00:30  NaN
2000-01-01 00:00:40  NaN
2000-01-01 00:00:50  NaN
2000-01-01 00:01:00  NaN
2000-01-01 00:01:10  NaN
2000-01-01 00:01:20  NaN
2000-01-01 00:01:30  NaN
2000-01-01 00:01:40  NaN
2000-01-01 00:01:50  NaN
2000-01-01 00:02:00  2.0
2000-01-01 00:02:10  NaN
2000-01-01 00:02:20  NaN
2000-01-01 00:02:30  NaN
2000-01-01 00:02:40  NaN
2000-01-01 00:02:50  NaN
2000-01-01 00:03:00  3.0

Mapowanie wartości zgodnie z zadana funkcja

In [246]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser

0     how
1      to
2    kick
3    ass?
dtype: object

In [247]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64